@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

::root {
    --Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

/* ### Neutral */

    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);

/* ### Background */
    --background: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
    height: 100vh;
    border: 2px solid red;
}

.score-text img {
    max-width: 100%;
    height: 60px;
}

.score-board {
    display: flex;
    justify-content: space-between;
    border: 3px solid hsl(217, 16%, 45%);
    padding: .5rem;
    border-radius: 5px;
    align-items: center;
}

.score {
    text-align: center;
    color: hsl(229, 25%, 31%);
    background: #fff;
    padding: .7rem 1rem;
    border-radius: 5px;
}

.score p {
    font-size: .8rem;
    font-weght: 700;
}

#score {
    font-size: 1.5rem;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}

.rock, .paper,.scissors {
    max-width: auto;
    height: 80px;
    border-radius: 100%;
    background: white;
    padding: .5rem;
}

.rock {
    border: 10px solid hsl(349, 71%, 52%);
}

.paper {
    border: 10px solid hsl(230, 89%, 62%);
}

.scissors {
    border: 10px solid hsl(39, 89%, 49%);
}